#context-menu-el {
    border-radius: 2px;
    background: rgb(247 247 247);
    position: fixed;
    display: none;
    overflow: hidden;
    box-shadow: 1px 1px 2px rgb(193 193 193 / 49%);
    z-index: 10;
}

#context-menu-el ul {
    margin: 0;
    padding: 0;
}
#context-menu-el li {
    line-height: 32px;
    padding: 0 10px;
    color: #656565;
    font-size: 14px;
    list-style: none;
    cursor: pointer;
}